mat-card {
	width: 100%;
	height: 100%;
	padding: 0;

	&:hover {
		cursor: pointer;
	}

	.tile-header {
		z-index: 1;
		padding-top: 20px;
		margin-bottom: 0 !important;
		width: 100%;
		background-color: rgba($color: #000000, $alpha: 0.7);
	}
	mat-card-content {
		z-index: 1;
		margin-bottom: 0 !important;
		opacity: 0;
		transition-duration: 0.25s;
		transition-timing-function: ease-in-out;
		&:hover {
			background-color: black;
			opacity: 0.7;
		}
	}
	img {
		z-index: 0;
		position: absolute;
		max-width: 100%;
		max-height: 100%;
	}
}
