.album-wrapper {
	padding: 20px 50px;
	min-width: 300px;
}

.tables-wrapper {
	max-width: 600px;
}

tr.review-row {
  height: 0;
}

.rating-row td {
  border-bottom-width: 0;
}

.review-expanded {	
  overflow: hidden;
}