<div [class]="'container ' + (theme$ | async)">
<!-- <div [class]="theme$ | async"> -->

  <!-- <div class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="(stickyHeader$ | async)"> -->
  <app-header (sidenavToggle)="mainSidenav.toggle()"></app-header>
  <!-- </div> -->
  <mat-sidenav-container>
    <mat-sidenav #mainSidenav role="navigation">
      <app-sidenav (sidenavClose)="mainSidenav.close()"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <main role="main">
        <div class="wrapper mat-typography">

          <div class="content">
            <router-outlet></router-outlet>
          </div>

          <div class="footer">
            <div class="row">
              taki se tam footer
            </div>
          </div>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>