@import 'styles-variables';

@import '~@angular/material/theming';

@include mat-core();

@import 'themes/dark-theme';
@import 'themes/light-theme';

@import 'app/shell/header/header.component.theme';
@import 'app/shell/sidenav/sidenav.component.theme';
@import 'app/modules/explore/components/album-grid/album-grid.component.theme';
@import 'app/modules/review/add-review/album-search/album-search.component.theme.scss';

@mixin custom-components-theme($theme) {
  @include header-component-theme($theme);
	@include sidenav-component-theme($theme);
	@include album-grid-component-theme($theme);
	@include album-search-component-theme($theme);
}

.light-theme {
	@include angular-material-theme($light-theme);
	@include custom-components-theme($light-theme);
}

.dark-theme {
	@include angular-material-theme($dark-theme);
	@include custom-components-theme($dark-theme);
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
