<div [class]="'theme-wrapper mat-typography ' + (settings$ | async)?.theme">

	<app-header class="toolbar" [style.position]="(settings$ | async)?.stickyHeader ? 'fixed' : 'inherit'"
		[class.mat-elevation-z4]="(settings$ | async)?.stickyHeader" (sidenavToggle)="mainSidenav.toggle()">
	</app-header>

	<mat-sidenav-container fxFlex.xs="noshrink" ngStyle.xs="marginTop: 56px">
		<mat-sidenav #mainSidenav role="navigation" mode="over"
			fixedInViewport="true" fixedTopGap="56">
			<app-sidenav (sidenavClose)="mainSidenav.close()"></app-sidenav>
		</mat-sidenav>

		<mat-sidenav-content>
			<main role="main" class="wrapper">

				<div class="content">
					<router-outlet></router-outlet>
				</div>

				<div class="footer">
					<div class="row">
						taki se tam footer
					</div>
				</div>

			</main>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>